<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default.css') }}">
    <title>{{ _('Add new clothes') }}</title>
</head>

<body>
<h1>{{ _('Add ') }}<span class="black_background">{{ _(' new ') }}</span>{{ _(' clothes in your wardrobe') }}</h1>

{{ _('Write information about your clothes:') }}<br/><br/>
<form action="" method="post" class="form_size" enctype=multipart/form-data>
<table class="table">
  <thead>
    <tr>
      <th scope="col">{{ _('Name') }}</th>
      <th scope="col">{{ _('Type') }}</th>
      <th scope="col">{{ _('Temperature Min') }}</th>
      <th scope="col">{{ _('Temperature Max') }}</th>
      <th scope="col">{{ _('Photo') }}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><input type=text name=clothes_name placeholder="{{ _('Enter clothes name') }}"></th>
      <td>
          <select name=type>
              <option value="headdress">{{ _('Headdress') }}</option>
              <option value="outerwear">{{ _('Outerwear') }}</option>
              <option value="underwear">{{ _('Underwear') }}</option>
              <option value="footwear">{{ _('Footwear') }}</option>
              <option value="scarf">{{ _('Scarf') }}</option>
              <option value="socks">{{ _('Socks') }}</option>
              <option value="gloves">{{ _('Gloves') }}</option>
              <option value="pants">{{ _('Pants') }}</option>
              <option value="shirt_sweaters">{{ _('Shirt&Sweaters') }}</option>
          </select>
      </td>
      <td><input type=number name=temp_min value="0" placeholder="{{ _('Enter temperature min') }}"></td>
      <td><input type=number name=temp_max value="0" placeholder="{{ _('Enter temperature max') }}"></td>
      <td><input type=file name=photo></td>
    </tr>
  </tbody>
</table>
    {% if add_clothes_fail %}
    <span class="error_text">{{ _('Write all value') }}</span><br/>
    {% endif %}
    <input type=submit value="{{ _('Add clothes') }}">    <input type="reset">
</form>
<br/>
<a href="/"><p style="margin-right: 250px; text-align: right; color: black; text-decoration: underline;">{{ _('Go back') }}<p/></a>
<!--

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
-->
</body>
</html>
