<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default.css') }}">
<!--
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
-->
    <title>{{ _(' Registration ') }}</title>
</head>

<body>
<h1><span class="black_background">{{ _(' Registration ') }}</span></h1>

{{ _('Write your name and password or ') }}<a href="/">{{ _('go back') }}</a>

<form action="" method="post" class="form_size">
    <input type=text name=username placeholder="{{ _('Enter username') }}"><br/>
    {% if user_exit %}
    <span class="error_text">{{ _('User exist') }}</span><br/>
    {% endif %}
    <input type=password name=password placeholder="{{ _('Enter password') }}"><br/>
    <input type=submit value="{{ _('Add user') }}">
    <input type="reset">
</form>

<!--<img src="static/photos/1007152208.jpg">-->

<!--
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
-->
</body>
</html>